/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    max-width: 900px;
}

/*Begin Quiz Wrapper Styles*/
.p {
  padding-top: 130px;
  font-size: 23px;
}

.quiz-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5625rem;
}

.templates {
    display:none;
}

.search-result {
    width: 80%;
    margin: auto;
    background:#Ddd;
    /*border:solid 1px #222*/
}

.transition {
    -webkit-transform: scale(2.6);
    transform: scale(2.6);
}

li {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  background: #fff;
}

.beerImg {
  border-radius: 50%;
  height: 35px;
  margin-top: 10px;
  min-width: 35px;
  width: 35px;
  vertical-align: bottom;
  border: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.beerName {
 margin: 0 auto;
 background: #fff;
 padding: 10px;
 text-align: left;

}

h4.beerName {
    text-align: left;
}

.beerDescription {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #999;
    margin: 0;
    text-align: justify;
}

.attributeDescription {
    text-align: justify;
    text-align: left;
    margin-top: 25px;
}

div.attributeDescription > h3 h4 {
    margin-left: 20px;
    padding: 10px;
}

.colorpickerBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.colorpickerBackground {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}



/* ---- Search Form Styles  --- */
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  padding: 15px;
  margin: 20px auto 50px auto;
  background: #444;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
}
.form-wrapper input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around center;
      -ms-flex-pack: space-around center;
          justify-content: space-around center;
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}
.form-wrapper input button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 60px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.form-wrapper button:hover {
  background: #e54040;
}
.form-wrapper button:active,
.form-wrapper button:focus {
  background: #c42f2f;
}
.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 10px;
  left: -4px;
}
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}
.form-wrapper button:focus:before {
  border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* ======= Quiz Submit Button ============ */

.quizBtn button {
  /*display: flex;
  justify-content: space-around;
  align-items: flex-end;*/
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.quizBtn button:hover {
  background: #e54040;
}
.quizBtn button:active,
.quizBtn button:focus {
  background: #c42f2f;
}
.quizBtn button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 10px;
  left: -4px;
}
.quizBtn button:hover:before {
  border-right-color: #e54040;
}
.quizBtn button:focus:before {
  border-right-color: #c42f2f;
}
.quizBtn button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.quizBtn:disabled {
    background-color: #aaaaaa;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none;
}

.quizResults {
    display:none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.fill-height-or-more > div {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-5 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-6 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-7 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-8 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-9 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-10 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-11 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-lg-12 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
}
@media screen and (min-width: 90rem) {
  .s-grid-xlg-1 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-2 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-3 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-4 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-5 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-6 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-7 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-8 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-9 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-10 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-11 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xlg-12 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
}
@media screen and (min-width: 120rem) {
  .s-grid-xxlg-1 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-2 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-3 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-4 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-5 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-6 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-7 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-8 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-9 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-10 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-11 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-xxlg-12 > [class~=s-grid-cell] {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
}
.s-grid-cell-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.s-grid-cell-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.s-grid-cell-center {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
@media screen and (min-width: 0rem) {
  .s-grid-cell-sm-1 {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-1 {
    margin-left: calc(100% * 0.083333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-2 {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-2 {
    margin-left: calc(100% * 0.166666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-3 {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-3 {
    margin-left: calc(100% * 0.25 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-4 {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-4 {
    margin-left: calc(100% * 0.333333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-5 {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-5 {
    margin-left: calc(100% * 0.416666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-6 {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-6 {
    margin-left: calc(100% * 0.5 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-7 {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-7 {
    margin-left: calc(100% * 0.583333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-8 {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-8 {
    margin-left: calc(100% * 0.666666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-9 {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-9 {
    margin-left: calc(100% * 0.75 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-10 {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-10 {
    margin-left: calc(100% * 0.833333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-11 {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-11 {
    margin-left: calc(100% * 0.916666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-sm-12 {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-sm-12 {
    margin-left: calc(100% * 1 + (1.25rem / 2)) !important;
  }
}
@media screen and (min-width: 40rem) {
  .s-grid-cell-md-1 {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-1 {
    margin-left: calc(100% * 0.083333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-2 {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-2 {
    margin-left: calc(100% * 0.166666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-3 {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-3 {
    margin-left: calc(100% * 0.25 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-4 {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-4 {
    margin-left: calc(100% * 0.333333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-5 {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-5 {
    margin-left: calc(100% * 0.416666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-6 {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-6 {
    margin-left: calc(100% * 0.5 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-7 {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-7 {
    margin-left: calc(100% * 0.583333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-8 {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-8 {
    margin-left: calc(100% * 0.666666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-9 {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-9 {
    margin-left: calc(100% * 0.75 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-10 {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-10 {
    margin-left: calc(100% * 0.833333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-11 {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-11 {
    margin-left: calc(100% * 0.916666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-md-12 {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-md-12 {
    margin-left: calc(100% * 1 + (1.25rem / 2)) !important;
  }
}
@media screen and (min-width: 75rem) {
  .s-grid-cell-lg-1 {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-1 {
    margin-left: calc(100% * 0.083333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-2 {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-2 {
    margin-left: calc(100% * 0.166666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-3 {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-3 {
    margin-left: calc(100% * 0.25 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-4 {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-4 {
    margin-left: calc(100% * 0.333333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-5 {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-5 {
    margin-left: calc(100% * 0.416666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-6 {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-6 {
    margin-left: calc(100% * 0.5 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-7 {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-7 {
    margin-left: calc(100% * 0.583333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-8 {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-8 {
    margin-left: calc(100% * 0.666666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-9 {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-9 {
    margin-left: calc(100% * 0.75 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-10 {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-10 {
    margin-left: calc(100% * 0.833333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-11 {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-11 {
    margin-left: calc(100% * 0.916666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-lg-12 {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-lg-12 {
    margin-left: calc(100% * 1 + (1.25rem / 2)) !important;
  }
}
@media screen and (min-width: 90rem) {
  .s-grid-cell-xlg-1 {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-1 {
    margin-left: calc(100% * 0.083333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-2 {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-2 {
    margin-left: calc(100% * 0.166666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-3 {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-3 {
    margin-left: calc(100% * 0.25 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-4 {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-4 {
    margin-left: calc(100% * 0.333333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-5 {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-5 {
    margin-left: calc(100% * 0.416666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-6 {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-6 {
    margin-left: calc(100% * 0.5 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-7 {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-7 {
    margin-left: calc(100% * 0.583333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-8 {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-8 {
    margin-left: calc(100% * 0.666666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-9 {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-9 {
    margin-left: calc(100% * 0.75 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-10 {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-10 {
    margin-left: calc(100% * 0.833333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-11 {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-11 {
    margin-left: calc(100% * 0.916666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xlg-12 {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xlg-12 {
    margin-left: calc(100% * 1 + (1.25rem / 2)) !important;
  }
}
@media screen and (min-width: 120rem) {
  .s-grid-cell-xxlg-1 {
    -webkit-flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.083333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-1 {
    margin-left: calc(100% * 0.083333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-2 {
    -webkit-flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.166666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-2 {
    margin-left: calc(100% * 0.166666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-3 {
    -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
    flex-basis: calc(100% * 0.25 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-3 {
    margin-left: calc(100% * 0.25 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-4 {
    -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-4 {
    margin-left: calc(100% * 0.333333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-5 {
    -webkit-flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.416666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-5 {
    margin-left: calc(100% * 0.416666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-6 {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-6 {
    margin-left: calc(100% * 0.5 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-7 {
    -webkit-flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.583333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-7 {
    margin-left: calc(100% * 0.583333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-8 {
    -webkit-flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-8 {
    margin-left: calc(100% * 0.666666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-9 {
    -webkit-flex-basis: calc(100% * 0.75 - 1.25rem);
    flex-basis: calc(100% * 0.75 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-9 {
    margin-left: calc(100% * 0.75 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-10 {
    -webkit-flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    flex-basis: calc(100% * 0.833333333333333 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-10 {
    margin-left: calc(100% * 0.833333333333333 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-11 {
    -webkit-flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    flex-basis: calc(100% * 0.916666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-11 {
    margin-left: calc(100% * 0.916666666666667 + (1.25rem / 2)) !important;
  }
  .s-grid-cell-xxlg-12 {
    -webkit-flex-basis: calc(100% * 1 - 1.25rem);
    flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
  }
  .s-grid-cell-offset-xxlg-12 {
    margin-left: calc(100% * 1 + (1.25rem / 2)) !important;
  }
}
body {
  text-align: center;
  padding: 22px;
  background-color: #fff;
}
.box {
  margin: 10px;
  border: 1px solid #eee;
  font-family: arial;
  font-size: 12px;
}
.box div {
  padding: 5px;
}
.title-line {
  border-bottom: solid 1px #000;
}
.vgrid {
  background-color: #e9e9ea;
  width: 600px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  border-radius: 4px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.fa-question-circle-o:before {
  cursor: pointer;
}
.my-grid {
  background-color: #e9e9ea;
  margin-top: 6.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 37.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-with: 15rem;
}
.my-cell {
  -webkit-flex-basis: calc(100% * 1 - 1.25rem);
  flex-basis: calc(100% * 1 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #d5d5d7;
}
@media screen and (min-width: 40rem) {
  .my-cell {
    -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
    flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    border-radius: 3px;
  }
}
.p {
  padding-top: 30px;
  font-size: 23px;
}
.quiz-wrapper section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.quiz-wrapper section div {
  padding: 0.9375rem;
  -webkit-flex-basis: calc(100% * 0.25 - 1.25rem);
  flex-basis: calc(100% * 0.25 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
}
.quiz-wrapper section div.other-cell {
  -webkit-flex-basis: calc(100% * 0.5 - 1.25rem);
  flex-basis: calc(100% * 0.5 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.quiz-wrapper section div.different-cell {
  -webkit-flex-basis: calc(100% * 0.333333333333333 - 1.875rem);
  flex-basis: calc(100% * 0.333333333333333 - 1.875rem);
  min-width: 0;
  margin: 0.9375rem;
}
.my-custom-class-for-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.my-custom-class-for-grid .my-custom-class-for-grid-cell {
  -webkit-flex-basis: calc(100% * 1 - 1.25rem);
  flex-basis: calc(100% * 1 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
}
#resultsText {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s;
}
.resultsComment {
  width: auto;
  height: auto;
}
.resultsComment p {
  padding: 5px 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.resultsComment hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  border: none;
}
.resultsComment h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.modal-2 {
  width: 500px;
  padding: 0px 30px 30px 30px;
  background: #ffa644;
  border-radius: 5px 5px 5px 5px;
}
#youWin {
  background: #7fff00;
}
#gettingThere {
  background: #e91d57;
}
.input {
  width: 75%;
  height: 44px;
  background: #fdfcfb;
  border-radius: 5px 0px 0px 5px;
  border: none;
  font-family: 'Lato', sans-serif;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
}
.buttonModal {
  width: 25%;
  height: 46px;
  background-color: #c42f2f;
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
}
.overlay {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#af-form-1196824715 .af-body .af-textWrap {
  width: 98%;
  display: block;
  float: none;
}
#af-form-1196824715 .af-body .privacyPolicy {
  color: #333;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}
#af-form-1196824715 .af-body a {
  color: #f04f23;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}
#af-form-1196824715 .af-body input.text,
#af-form-1196824715 .af-body textarea {
  background-color: #fff;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
#af-form-1196824715 .af-body input.text:focus,
#af-form-1196824715 .af-body textarea:focus {
  background-color: #fff;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
}
#af-form-1196824715 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
#af-form-1196824715 .af-body {
  padding-bottom: 0px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #333;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}
#af-form-1196824715 .af-quirksMode {
  padding-right: 75px;
  padding-left: 75px;
}
#af-form-1196824715 .af-standards .af-element {
  padding-right: 75px;
  padding-left: 75px;
}
#af-form-1196824715 .buttonContainer input.submit {
  background-image: url("https://forms.aweber.com/images/forms/foodie/red/button.png");
  background-color: #f04f23;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
#af-form-1196824715 .buttonContainer input.submit {
  width: auto;
}
#af-form-1196824715 .buttonContainer {
  text-align: center;
}
#af-form-1196824715 button,
#af-form-1196824715 input,
#af-form-1196824715 submit,
#af-form-1196824715 textarea,
#af-form-1196824715 select,
#af-form-1196824715 label,
#af-form-1196824715 optgroup,
#af-form-1196824715 option {
  float: none;
  position: static;
  margin: 0;
}
#af-form-1196824715 div {
  margin: 0;
}
#af-form-1196824715 form,
#af-form-1196824715 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-1196824715 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
#af-form-1196824715 input,
#af-form-1196824715 button,
#af-form-1196824715 textarea,
#af-form-1196824715 select {
  font-size: 100%;
}
#af-form-1196824715 select,
#af-form-1196824715 label,
#af-form-1196824715 optgroup,
#af-form-1196824715 option {
  padding: 0;
}
#af-form-1196824715,
#af-form-1196824715 .quirksMode {
  width: 100%;
  max-width: 384px;
}
#af-form-1196824715.af-quirksMode {
  overflow-x: hidden;
}
#af-form-1196824715 {
  background-color: #fff;
  border-color: #cfcfcf;
  border-width: 1px;
  border-style: none;
}
#af-form-1196824715 {
  display: block;
}
#af-form-1196824715 {
  overflow: hidden;
}
.af-body .af-textWrap {
  text-align: left;
}
.af-body input.image {
  border: none !important;
}
.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
  float: none !important;
}
.af-body input.text {
  width: 100%;
  float: none;
  padding: 2px !important;
}
.af-body.af-standards input.submit {
  padding: 4px 12px;
}
.af-clear {
  clear: both;
}
.af-element label {
  text-align: left;
  display: block;
  float: left;
}
.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}
.af-form-wrapper {
  text-indent: 0;
}
.af-form {
  text-align: left;
  margin: auto;
}
.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.lbl-right .af-element label {
  text-align: right;
}
.footnote {
  padding: 5px 75px 5px 75px;
  text-align: center;
  margin: auto;
}
.form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 550px;
  padding: 15px;
  margin: 20px auto 50px auto;
  background: #444;
  background: rgba(0,0,0,0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
}
.form-wrapper input {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper input button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 60px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.form-wrapper button:hover {
  background: #e54040;
}
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}
.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 10px;
  left: -4px;
}
.form-wrapper button:focus:before {
  border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.form-wrapper button:active,
.form-wrapper button:focus {
  background: #c42f2f;
}
.attributeDescription h3,
.attributeDescription h4 {
  margin-left: 20px;
}
.form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 550px;
  padding: 15px;
  margin: 20px auto 20px auto;
  background: #444;
  background: rgba(0,0,0,0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.2);
}
.form-wrapper input {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper input button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 60px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.form-wrapper button:hover {
  background: #e54040;
}
.form-wrapper button:active,
.form-wrapper button:focus {
  background: #c42f2f;
}
.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 10px;
  left: -4px;
}
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}
.form-wrapper button:focus:before {
  border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#srm p,
#styleInfo p {
  margin-top: 1em;
}
#srm table {
  margin-top: 1em;
  width: 48%;
  float: left;
}
#srm table h4 {
  padding: 2px 4px 2px 0;
  background-color: #a6a6a6;
  text-align: center;
  font-weight: 700;
}
#srm td {
  padding: 2px 4px 2px 0;
  text-align: center;
}
#srm td div {
  margin: 0 auto;
}
#srm th.header {
  padding-bottom: 0;
  background-color: #a6a6a6;
}
.tbl_standard {
  margin-top: 1em;
  width: 100%;
}
.tbl_standard td {
  padding: 6px 4px 6px 2px;
  vertical-align: top;
}
#srm table#leftTable,
#statistics table#leftTable {
  margin-right: 3%;
}
#srm th,
.tbl_standard th,
#statistics th {
  padding: 2px 4px 2px 0;
  background-color: #aeaeae;
  border: 1px solid #fff;
  border-top: none;
  font-weight: 700;
  text-align: center;
}
#srm td.gray,
.tbl_standard tr.gray {
  background-color: #cdcdcd;
}
#statistics table {
  margin-top: 1em;
  width: 48%;
  float: left;
}
#statistics td {
  padding: 2px 4px 2px 0;
  text-align: left;
}
#statistics td.add_margin_left {
  padding-left: 12px;
}
.swatch {
  width: 50%;
  height: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin: 20px;
}
.colorName {
  margin-top: -35px;
  margin-left: 35px;
  text-align: center;
}
.paleStraw {
  background-color: #ffff45;
}
.straw {
  background-color: #ffe93e;
}
.paleGold {
  background-color: #fed849;
}
.deepGold {
  background-color: #ffa846;
}
.paleAmber {
  background-color: #f49f44;
}
.mediumAmber {
  background-color: #d77f59;
}
.deepAmber {
  background-color: #94523a;
  color: #fff;
}
.amberBrown {
  background-color: #804541;
  color: #fff;
}
.brown {
  background-color: #5b342f;
  color: #fff;
}
.rubyBrown {
  background-color: #4c3b2b;
  color: #ffe93e;
}
.deepBrown {
  background-color: #38302e;
  color: #fff;
}
.black {
  background-color: #31302c;
  color: #fff;
}
.modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  -ms-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
}
.close {
  background: #606061;
  color: #fff;
  line-height: 25px;
  position: relative;
  right: 12px;
  left: 5px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  display: none;
  overflow: hidden;
}
#wrapper {
  position: fixed;
  border-radius: 10px;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}
#btnClose {
  position: absolute;
  top: 5px;
  left: 5px;
}
#contents {
  padding: 5px;
  overflow: scroll;
  height: 100%;
}
.icon {
  border: none;
  background: none;
}
