.swatch {
  width: 50%;
  height: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.paleStraw {
  background-color: #ffff45;
}
.straw option {
  background-color: #ffe93e;
}
.paleGold {
  background-color: #fed849;
}
.deepGold {
  background-color: #ffa846;
}
.paleAmber {
  background-color: #f49f44;
}
.mediumAmber {
  background-color: #d77f59;
}
.deepAmber {
  background-color: #94523a;
}
.amberBrown {
  background-color: #804541;
}
.brown {
  background-color: #5b342f;
}
.rubyBrown {
  background-color: #4c3b2b;
}
.deepBrown {
  background-color: #38302e;
}
.black {
  background-color: #31302c;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 400ms ease-in;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  pointer-events: auto;
}
.modalDialog > div {
  width: 550px;
  height: 500px;
  position: relative;
  margin: 75px auto;
  overflow: auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz--webkit-linear-gradient(#fff, #999);
  background: -moz--moz-linear-gradient(#fff, #999);
  background: -moz--o-linear-gradient(#fff, #999);
  background: -moz--ms-linear-gradient(#fff, #999);
  background: -webkit--webkit-linear-gradient(#fff, #999);
  background: -webkit--moz-linear-gradient(#fff, #999);
  background: -webkit--o-linear-gradient(#fff, #999);
  background: -webkit--ms-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o--webkit-linear-gradient(#fff, #999);
  background: -o--moz-linear-gradient(#fff, #999);
  background: -o--o-linear-gradient(#fff, #999);
  background: -o--ms-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #fff;
  line-height: 25px;
  position: relative;
  right: 12px;
  left: 5px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}
