@import '../node_modules/s-grid/s-grid-settings'
@import '../node_modules/s-grid/s-grid-functions'
@import '../node_modules/s-grid/s-grid-classes'

body
  text-align center
  padding 22px

/* using s-grid 
See: https://github.com/juliancwirko/s-grid */

// added CSS for TABLE LIKE lookup on quiz
 
 /* ----  This shows alternating rows coloring  --- */>

.box
    margin 10px
    border 1px solid #eee
    font-family arial
    font-size 12px
    div
        padding 5px
        &:nth-child(odd)
            background-color #eee
        &:nth-child(even)
            background-color #fff

.title-line{
    border-bottom: solid 1px #000;
}

.vgrid{
    background-color: #E9E9EA
    width:600px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 50rem;
    margin-left:auto;
    margin-right: auto;
    padding 5px
    div
        &:nth-child(odd)
            background-color #eee
        &:nth-child(even)
            background-color #fff
}

// Color Variables
.paleStraw
    background-color: #ffff45;
    
.straw option
    background-color: #ffe93e;

.paleGold 
    background-color: #fed849;

.deepGold
   background-color: #ffa846; 

.paleAmber
    background-color: #f49f44;

.mediumAmber
    background-color: #d77f59;

.deepAmber
    background-color: #94523a;

.amberBrown
    background-color: #804541;

.brown
    background-color: #5b342f;

.rubyBrown
    background-color: #4c3b2b;

.deepBrown
    background-color: #38302e;

.black
    background-color: #31302c;


// font=awesome additional styles

.fa-question-circle-o:before
    cursor: pointer;

/* general grid style */

.my-grid
    background-color #E9E9EA
    margin-top rem-calc(100)
    center(600)
    grid()
    flex-direction: column
    max-with:15rem

    
.my-cell
    stack()
    padding rem-calc(10)
    background-color #D5D5D7
    @media screen and (min-width: rem-calc(breakpoints[md]))
    cell(1, 2)
    border-radius: 3px

.p
  padding-top 130px
  font-size 23px

.quiz-wrapper 
    section
    grid()
    div
        padding rem-calc(15)
        cell(1, 4)
        &.other-cell
            cell(2, 4, 'bottom')
        &.different-cell
            cell(1, 3, g: 30px)

.my-custom-class-for-grid
    grid()
    .my-custom-class-for-grid-cell
        cell(1, 1)
        +above(rem-calc(breakpoints[md]))
            cell(1, 2)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 3)
        +above(rem-calc(breakpoints[xlg]))
            cell(1, 4)
        +above(rem-calc(breakpoints[xxlg]))
            cell(1, 6)

/* ---- Search Form Styles in Stylus AFTER converted --- */
           .form-wrapper
    display flex
    width 550px
    padding 15px
    margin 20px auto 50px auto
    background #444
    background rgba(0,0,0,.2)
    -moz-border-radius 10px
    -webkit-border-radius 10px
    border-radius 10px
    -moz-box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
    -webkit-box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
    box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
    input
        display flex
        justify-content space-around center
        width 330px
        height 40px
        padding 10px 5px
        font bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma'
        border 0
        background #eee
        -moz-border-radius 3px 0 0 3px
        -webkit-border-radius 3px 0 0 3px
        border-radius 3px 0 0 3px
        button
            display flex
            justify-content flex-start
        &:focus
            outline 0
            background #fff
            -moz-box-shadow 0 0 2px rgba(0,0,0,.8) inset
            -webkit-box-shadow 0 0 2px rgba(0,0,0,.8) inset
            box-shadow 0 0 2px rgba(0,0,0,.8) inset
        &::-webkit-input-placeholder
            color #999
            font-weight normal
            font-style italic
        &:-moz-placeholder
            color #999
            font-weight normal
            font-style italic
        &:-ms-input-placeholder
            color #999
            font-weight normal
            font-style italic
    button
        display flex
        justify-content space-around
        align-items flex-end
        overflow visible
        position relative
        border 0
        padding 0
        cursor pointer
        height 60px
        width 110px
        font bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'
        color #fff
        text-transform uppercase
        background #d83c3c
        -moz-border-radius 0 3px 3px 0
        -webkit-border-radius 0 3px 3px 0
        border-radius 0 3px 3px 0
        text-shadow 0 -1px 0 rgba(0, 0 ,0, .3)
        &:hover
            background #e54040
            &:before
                border-right-color #e54040
        &:before
            content ''
            position absolute
            border-width 8px 8px 8px 0
            border-style solid solid solid none
            border-color transparent #d83c3c transparent
            top 10px
            left -4px
        &:focus
            &:before
                border-right-color #c42f2f
        &::-moz-focus-inner
            border 0
            padding 0

.form-wrapper button:active,
   .form-wrapper button:focus
    background #c42f2f 


/* ---- Search Form Styles BEFORE Stylus converted --- */

//    .form-wrapper {
//      display: flex;
//        width: 550px;
//        padding: 15px;
//        margin: 20px auto 50px auto;
//        background: #444;
//        background: rgba(0,0,0,.2);
//        -moz-border-radius: 10px;
//        -webkit-border-radius: 10px;
//        border-radius: 10px;
//        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
//        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
//        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
//    }

//    .form-wrapper input {
//      display: flex;
//      justify-content: space-around center;
//        width: 330px;
//        height: 40px;
//        padding: 10px 5px;
//        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
//        border: 0;
//        background: #eee;
//        -moz-border-radius: 3px 0 0 3px;
//        -webkit-border-radius: 3px 0 0 3px;
//        border-radius: 3px 0 0 3px;
//    }

//    .form-wrapper input button {
//      display: flex;
//      justify-content: flex-start;
//    }

//    .form-wrapper input:focus {
//        outline: 0;
//        background: #fff;
//        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
//        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
//        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
//    }

//    .form-wrapper input::-webkit-input-placeholder {
//       color: #999;
//       font-weight: normal;
//       font-style: italic;
//    }

//    .form-wrapper input:-moz-placeholder {
//        color: #999;
//        font-weight: normal;
//        font-style: italic;
//    }

//    .form-wrapper input:-ms-input-placeholder {
//        color: #999;
//        font-weight: normal;
//        font-style: italic;
//    }

//    .form-wrapper button {
//      display: flex;
//      justify-content:space-around;
//      align-items: flex-end;
//      overflow: visible;
//        position: relative;
//        border: 0;
//        padding: 0;
//        cursor: pointer;
//        height: 60px;
//        width: 110px;
//        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
//        color: #fff;
//        text-transform: uppercase;
//        background: #d83c3c;
//        -moz-border-radius: 0 3px 3px 0;
//        -webkit-border-radius: 0 3px 3px 0;
//        border-radius: 0 3px 3px 0;
//        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
//    }

//    .form-wrapper button:hover{
//        background: #e54040;
//    }

//    .form-wrapper button:active,
//    .form-wrapper button:focus {
//       background: #c42f2f;
//    }

//    .form-wrapper button:before {
//        content: '';
//        position: absolute;
//        border-width: 8px 8px 8px 0;
//        border-style: solid solid solid none;
//        border-color: transparent #d83c3c transparent;
//        top: 10px;
//        left: -4px;
//    }

//    .form-wrapper button:hover:before{
//        border-right-color: #e54040;
//    }

//    .form-wrapper button:focus:before{
//        border-right-color: #c42f2f;
//    }

//    .form-wrapper button::-moz-focus-inner {
//        border: 0;
//        padding: 0;
//    }

   /* Test CSS copied rom Video Search Page */

//    .searchResults-container {
//   flex-flow: row;
//   justify-content: center;
//   flex-direction: row;
//   align-items: flex-start;
// }

// .searchResults {
//   height: 100vh;
//   padding: 10px 0 0 10px;
//   }


// .description {
//   flex:1;
//   /*border: 5px solid red*/

// }

// .textContainer p {

// }

// .thumb {
//   /*border: 5px solid green;*/
//   max-width: 120px;
//   max-height: 90px;

// }

// li {
//   display: flex;
//   justify-content:flex-start;
//   flex-direction: row;
//   text-align:left;
//   list-style-type:none;
//   /*border: 5px solid purple;*/
//     padding:2px;
// }


//    .main {
//      display:flex;
//      max-width: 900px;
//      basis:900px
//    }

//    /* parent of the flex area */

//     .list-item{
//        display: flex;
//        flex-direction: row;
//        text-align: left;
//    }

//    .list-left{
//        flex-grow: 1;
//        flex-shrink:1;

//    }

//    .list-right {
//     flex-grow: 2;
//     /*margin-left: 10px;*/
//     /*padding:0 0 10 0px;*/
//     text-align: left;
//   }

//   .list-right, p {
//     height: 100px;
//   }

//   /* SECTIONS CONTENT*/
// .videoContainer {
//   display: flex;
//   /* min-height:90px; */
//   padding:5px;
//   border:2px;

// }

// .videoThumb {
//   flex: 1 1 0px;
//   flex-direction: column;
//   text-align: center;
//   padding-top: 2px;
//   border: solid 1px #cccccc;
// }

// .videoThumb img {
//      width: 100%;
//      flex-basis: auto;
//      border: 1px red;
//    }


// /* --------HEADER---------- */
// .header {
//   display:flex;
//   align-items: center;
//   justify-content: space-between;


// }

//    #header {
//    	position: relative;
//    	z-index: 999;
//    	background: url("/images/dfu_logo3_450x100.png") repeat 50% 0;
//    }

//    .clean #header {
//    	background: #eae7df url("./images/header-bg-clean.jpg") no-repeat 50% 100%;
//    }

//    #header-bottom {
//    	position: relative;
//    	float: right;
//    	width: 100%;
//    	padding-top: 10px;
//    	background: url("../images/header-inner-bg.jpg") no-repeat 50% 100%;
//    }

//    .clean #header-bottom {
//    	background: transparent;
//    }
