// ========  FORM STYL ================

.form-wrapper
    padding 15px
    margin 20px auto 20px auto
    background #444
    background rgba(0,0,0,.2)
    flex-wrap nowrap
    align-content: center
    
    input
        flex 1
        width 70%
        min-width: 125px
        height 40px
        padding 10px 5px
        font bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma'
        border 0
        background #eee
        border-radius 3px 0 0 3px
        &:focus
            outline 0
            background #fff
            box-shadow 0 0 2px rgba(0,0,0,.8) inset
        
    button
        overflow visible
        position relative
        left -4px
        border 0
        padding 0
        cursor pointer
        height 3.75em
        width 6.88em
        font bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'
        color #fff
        text-transform uppercase
        background #d83c3c
        border-radius 0 3px 3px 0
        text-shadow 0 -1px 0 rgba(0, 0 ,0, .3)
        &:hover
            background #e54040
            &:before
                border-right-color #e54040
        &:before
            content ''
            position absolute
            border-width 8px 8px 8px 0
            border-style solid solid solid none
            border-color transparent #d83c3c transparent
            top 10px
            left -4px
        &:focus
            &:before
                border-right-color #c42f2f
        flex-shrink 1
.nowrap
    flex: 0 0 auto

.form-wrapper button:active, .form-wrapper button:focus
    background #c42f2f